* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  /* border: 3px solid yellow; */
  background-color: #1f2937;
  color: #f9faf8;
  padding: 10px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 50px;
  border-radius: 50%;
}

header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.links {
  /* border: 3px solid red; */
  display: flex;
  justify-content: flex-end;
  gap: 1.1em;
}

/* Section 1 */
.section-1 {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
}

.section-1 p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.right {
  /* border: 3px solid yellowgreen; */
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.right img {
  /* border: 3px solid red; */
  width: 80%;
  border-radius: 8px;
}

/* Section 2 */
.section-2 {
  padding: 0 50px 50px 50px;
}

.section-2 h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding: 1em;
  color: #1f2937;
}

.item p {
  font-size: 18px;
  color: #1f2937;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.photos img {
  width: 250px;
  border-radius: 8px;
  border: 3px solid #1f2937;
}

/* Section quote */
.quote {
  padding: 115px;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-person {
  text-align: end;
  padding-top: 18px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

/* Section 4 */
.section-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  background-color: #3882f6;
  padding: 60px;
  border-radius: 16px;
}

.section-4 h4 {
  font-size: 24px;
  color: #f9faf8;
}

.section-4 p {
  font-size: 18px;
  color: #e5e7eb;
}

/* Buttons */
button {
  font-size: 15px;
  font-weight: 550;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
}

.section-4 button {
  border: 2px solid #f9faf8;
}

/* Footer */
footer {
  background-color: #1f2937;
  text-align: center;
  padding: 1.5em;
  font-size: 15px;
  color: #e5e7eb;
}
